* body {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(fonts/Pokemon_GB.ttf);
  font-family: pokemonGB;
}

/** Logo */

#logo {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#img-logo {
  width: 300px;
  height: 200px;
}

/** Instructions */

#instructions {
  padding-top: 30px;
  text-align: center;
  font-family: pokemonGB;
  font-size: 8px;
}

/** Pokemon Text Color */

.b-text {
  color: #6fae52;
}
.c-text {
  color: #f48b40;
}
.s-text {
  color: #93c8d0;
}

.divider {
  font-family: pokemonGB;
  font-size: 10px;
}

.game-rules {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0px 300px;
  font-family: pokemonGB;
  font-size: 10px;
  font-weight: 900;
  flex-wrap: wrap;
}

/** Pokemon Images - top */

.img-pokemon {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0% 20% 3% 20%;

  height: 15vh;
}

#img-bulbasaur {
  width: 100px;
  height: 100px;

  outline: none;
  transition: all 0.2s;
}

#img-charmander {
  width: 120px;
  height: 120px;

  outline: none;
  margin-top: -10px;
  transition: all 0.2s;
}

#img-squirtle {
  width: 100px;
  height: 100px;

  outline: none;
  transition: all 0.2s;
}

#img-bulbasaur:hover {
  width: 150px;
  height: 150px;
}

#img-charmander:hover {
  width: 170px;
  height: 170px;

  margin-top: -10px;
}

#img-squirtle:hover {
  width: 150px;
  height: 150px;
}

/** Rounds information */

.display-rounds {
  display: flex;
  justify-content: center;
  font-family: pokemonGB;
  font-size: 10px;
  padding-bottom: 20px;
}

#info-round {
  border: 2px solid black;
  width: 400px;
  height: 200px;
  border-right: 1px solid black;
}

.round-header {
  text-align: center;
  padding: 15px 0px;
}

.round-p {
  line-height: 30px;
  padding: 0px 15px;
}

#img-computer-selection {
  display: flex;
  justify-content: space-around;
}

#info-computer {
  border: 2px solid black;
  width: 400px;
  height: 200px;
  font-family: pokemonGB;
  font-size: 10px;
  border-left: 1px solid black;
}

#img-computer {
  width: 100px;
  height: 100px;
}

/** Class for pokemon pictures in comp choice*/

.bulba-comp {
  width: 100px;
  height: 100px;
  outline: none;
}

.char-comp {
  width: 120px;
  height: 120px;
  outline: none;
}

.squir-comp {
  width: 100px;
  height: 100px;
  outline: none;
}

/**Life - score keeper*/

.life {
  display: flex;
  justify-content: space-around;
  margin: 0% 20%;
}

#player-hp {
  text-align: center;
  font-family: PokemonGB;
}

#computer-hp {
  text-align: center;
  font-family: PokemonGB;
}

/** Pokeball refresh*/

#refresh {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokeball-refresh {
  width: 50px;
  height: 50px;
}

.refresh-text {
  font-family: pokemonGB;
  font-size: 8px;
  padding: 10px 0px;
}

#img-pokeball {
  visibility: hidden;
  padding-bottom: 10px;
  outline: none;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PokemonGB;
  font-size: 10px;
  border-top: 2px solid black;
  border-width: 100%;
  height: 40px;
  position: sticky;
}

.footer-pokeballs {
  width: 20px;
  height: 20px;
  padding: 0px 20px;
}

@media all and (max-width: 1390px) {
  .game-rules {
    margin: 0px 200px;
  }
}

@media all and (max-width: 1200px) {
  .game-rules {
    margin: 0px 100px;
  }
}

@media all and (max-width: 990px) {
  .game-rules {
    margin: 0px 50px;
  }
}

@media all and (max-width: 950px) {
  #img-logo {
    width: 250px;
    height: 150px;
  }

  #instructions {
    font-size: 8px;
  }
}

@media all and (max-width: 650px) {
  #img-logo {
    width: 200px;
    height: 100px;
  }

  #instructions {
    line-height: 20px;
    padding-top: 20px;
  }
  .img-pokemon {
    padding: 0% 0% 3% 0%;
  }

  .display-rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: pokemonGB;
    font-size: 10px;
    padding-bottom: 10px;
  }

  #info-computer {
    border: 2px solid black;
    width: 350px;
    height: 170px;
    font-size: 10px;
    border-top: 1px solid black;
  }

  #info-round {
    border: 2px solid black;
    width: 350px;
    height: 170px;
    border-bottom: 1px solid black;
  }

  #round-text1 {
    font-size: 9px;
  }

  #img-computer {
    padding-bottom: 20px;
  }

  .bulba-comp {
    width: 90px;
    height: 90px;
    outline: none;
    padding-bottom: 20px;
  }

  .char-comp {
    width: 100px;
    height: 100px;
    outline: none;
    padding-bottom: 20px;
  }

  .squir-comp {
    width: 90px;
    height: 90px;
    outline: none;
    padding-bottom: 20px;
  }

  .game-rules {
    font-size: 10px;
    margin: 0px;
  }

  .divider {
    font-size: 10px;
  }

  #img-bulbasaur {
    width: 80px;
    height: 80px;
  }

  #img-charmander {
    width: 100px;
    height: 100px;
  }

  #img-squirtle {
    width: 80px;
    height: 80px;
  }

  #img-bulbasaur:hover {
    width: 100px;
    height: 100px;
  }

  #img-charmander:hover {
    width: 120px;
    height: 120px;
  }

  #img-squirtle:hover {
    width: 100px;
    height: 100px;
  }

  .life {
    font-size: 10px;
  }

  #player-hp {
    font-size: 10px;
  }

  #computer-hp {
    font-size: 10px;
  }
}

@media all and (max-width: 520px) {
  .game-rules {
    flex-direction: column;
    align-content: center;
    line-height: 0px;
  }

  .divider {
    visibility: hidden;
  }
}
